<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.covisint.papi.sample.android.openregistration" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SearchOrganization"
            android:label="@string/title_activity_search_organization"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".OrganizationList"
            android:label="@string/title_activity_organization_list" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserInformationActivity"
            android:label="@string/title_activity_user_information"
            android:theme="@style/AppTheme.UserInfoInput"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".AddressInputActivity"
            android:label="@string/title_activity_address"
            android:theme="@style/AppTheme.UserInfoInput"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".ContactsInputActivity"
            android:label="@string/title_activity_contacts"
            android:theme="@style/AppTheme.UserInfoInput"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".TimezoneLanguageInputActivity"
            android:label="@string/title_activity_tz_lang"
            android:theme="@style/AppTheme.UserInfoInput"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".PasswordAccountActivity"
            android:label="@string/title_activity_password_account"
            android:theme="@style/AppTheme.PasswordAccountInput" >
        </activity>
        <activity
            android:name=".SecurityQuestionActivity"
            android:label="@string/title_activity_security_question" >
        </activity>
        <activity
            android:name=".PackageSelectionActivity"
            android:label="@string/title_activity_package_selection"
            android:theme="@style/AppTheme.PasswordAccountInput" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".RegistrationCompleteActivity"
            android:label="@string/title_activity_security_question" >
        </activity>
    </application>

</manifest>
